data/tests/
data/elevation/
output/
src/geostat_isoscapes_tools.egg-info
src/geostat_isoscapes_tools/__pycache__
data/temperature/temp_800ka_ann.nc
data/temperature/CRUTS04/
data/modern/iTrace/
data/modern/RCWIP2_isoscape/
data/shapefiles/
problems/