data/tests/
data/elevation/
output/data_exploration/
output/ked_firsttests/
output/perso/
output/variograms/
src/geostat_isoscapes_tools.egg-info
src/geostat_isoscapes_tools/__pycache__
data/temperature/temp_800ka_ann.nc
data/temperature/CRUTS04/
data/modern/iTrace/
data/modern/RCWIP2_isoscape/tif_files/
data/shapefiles/
problems/
.vscode/
data/modern/RCWIP2_isoscape/README.docx
